<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Match</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
    <h1>Edit Match</h1>
    <form th:object="${match}" th:action="@{/editmatch/{id}(id=${match.id})}" method="post" class="form-container">
        <input type="hidden" th:field="*{id}" />
        <div class="form-row">
            <label for="date">Date:</label>
            <input type="text" th:field="*{date}" id="date" placeholder="DD-MM-YYYY" />
        </div>
        <div class="form-row">
            <label for="opponent">Opponent:</label>
            <input type="text" th:field="*{opponent}" id="opponent" placeholder="Opponent" />
        </div>
        <div class="form-row">
            <label for="location">Location:</label>
            <select th:field="*{location}" id="location">
                <option value="Home">Home</option>
                <option value="Away">Away</option>
            </select>
        </div>
        <div class="form-row">
            <label for="result">Result:</label>
            <input type="text" th:field="*{result}" id="result" placeholder="Result e.g. 3-1" />
        </div>
        <div class="form-row">
            <label for="competition">Competition:</label>
            <select th:field="*{competition.id}" id="competition">
                <option th:each="comp : ${competitions}" th:value="${comp.id}" th:text="${comp.name}">Competition
                </option>
            </select>
        </div>
        <input type="submit" value="Update" />
    </form>
</body>

</html>